version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "09:30"
      timezone: "Europe/Tallinn"
    open-pull-requests-limit: 4
    groups:
      maven-minor-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
