# For local development, include a dev.env (gitignored) in the root of the project.
# Fill in values for secrets and credentials as needed.
SPRING_PROFILES_ACTIVE=dev
DEV_DB_URL=jdbc:postgresql://localhost:5432/webshop
DEV_DB_USER=
DEV_DB_PASSWORD=

# for local dev, you can generate the JWT key with:
# python scripts/base64keygen.py
DEV_JWT_SIGNING_KEY_BASE64=

DEV_SPRING_JPA_HIBERNATE_DDL_AUTO=update
